body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../宴会产地增加_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:23px;
    top:19px;
    width:602px;
    height:409px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:608px;
    height:415px;
}

.u1 {
    position:absolute;
    left:2px;
    top:196px;
    width:598px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../宴会产地增加_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:97px;
    top:19px;
    width:528px;
    height:33px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:534px;
    height:39px;
}

.u3 {
    position:absolute;
    left:2px;
    top:8px;
    width:524px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u7 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u10_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u10_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u11 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u12 {
    position:absolute;
    left:160px;
    top:30px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:213px;
    top:191px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:345px;
    top:191px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:196px;
    top:86px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:246px;
    top:80px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17_normal {
    background-image: url('../宴会产地增加_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:7px;
    top:19px;
    width:143px;
    height:409px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:415px;
}

.u18 {
    position:absolute;
    left:2px;
    top:196px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_selected {
    background-image: url('../宴会产地增加_files/u21_selected.png');
}

.u21_normal {
    background-image: url('../宴会产地增加_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u22 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u23_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u24 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u26_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u26_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u27 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u29_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u29_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u30 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u33_selected {
    background-image: url('../宴会产地增加_files/u21_selected.png');
}

.u33_normal {
    background-image: url('../宴会产地增加_files/u21_normal.png');
}

.u33_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u34 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u35_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u36 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u38_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u38_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u39 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u41_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u41_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u42 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u45_selected {
    background-image: url('../宴会产地增加_files/u21_selected.png');
}

.u45_normal {
    background-image: url('../宴会产地增加_files/u21_normal.png');
}

.u45_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u46 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u47_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u48 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u50_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u50_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u51 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u53_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u53_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u54 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u56_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u56_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u57 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u59_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u59_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u60 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u63_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u63_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u64 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u67_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u67_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u68 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

