body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../详情页面_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:23px;
    top:20px;
    width:683px;
    height:457px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:689px;
    height:463px;
}

.u1 {
    position:absolute;
    left:2px;
    top:220px;
    width:679px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../详情页面_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:119px;
    top:19px;
    width:587px;
    height:33px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:593px;
    height:39px;
}

.u3 {
    position:absolute;
    left:2px;
    top:8px;
    width:583px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:433px;
    top:355px;
    width:63px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:506px;
    top:355px;
    width:63px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:340px;
    top:355px;
    width:81px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:160px;
    top:28px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:213px;
    top:62px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:188px;
    top:88px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:188px;
    top:112px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:188px;
    top:138px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:214px;
    top:162px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:175px;
    top:184px;
    width:276px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:184px;
    top:212px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:214px;
    top:243px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:262px;
    top:243px;
    width:310px;
    height:67px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:264px;
    top:354px;
    width:63px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:310px;
    top:112px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:369px;
    top:137px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:287px;
    top:162px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:417px;
    top:184px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:305px;
    top:212px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../详情页面_1_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:7px;
    top:19px;
    width:143px;
    height:458px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:464px;
}

.u24 {
    position:absolute;
    left:2px;
    top:221px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_selected {
    background-image: url('../详情页面_1_files/u27_selected.png');
}

.u27_normal {
    background-image: url('../详情页面_1_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u28 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u29_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u30 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u32_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u32_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u33 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u35_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u35_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u36 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u39_selected {
    background-image: url('../详情页面_1_files/u27_selected.png');
}

.u39_normal {
    background-image: url('../详情页面_1_files/u27_normal.png');
}

.u39_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u40 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u41_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u42 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u44_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u44_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u45 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u47_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u47_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u48 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u51_selected {
    background-image: url('../详情页面_1_files/u27_selected.png');
}

.u51_normal {
    background-image: url('../详情页面_1_files/u27_normal.png');
}

.u51_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u52 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u53_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u54 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u56_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u56_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u57 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u59_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u59_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u60 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u62_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u62_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u63 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u65_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u65_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u66 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u69_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u69_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u70 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u73_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u73_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u74 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

