body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../账号管理_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:114px;
    top:41px;
    width:357px;
    height:537px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:363px;
    height:543px;
}

.u1 {
    position:absolute;
    left:2px;
    top:98px;
    width:353px;
    height:342px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

