body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../新增推荐_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:23px;
    top:20px;
    width:602px;
    height:409px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:608px;
    height:415px;
}

.u1 {
    position:absolute;
    left:2px;
    top:196px;
    width:598px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../新增推荐_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:97px;
    top:19px;
    width:528px;
    height:33px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:534px;
    height:39px;
}

.u3 {
    position:absolute;
    left:2px;
    top:8px;
    width:524px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:160px;
    top:30px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:199px;
    top:93px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:198px;
    top:126px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:198px;
    top:165px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:206px;
    top:274px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:342px;
    top:274px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:656px;
    top:206px;
    width:150px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:249px;
    top:90px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:249px;
    top:131px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:249px;
    top:165px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14_normal {
    background-image: url('../新增推荐_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:7px;
    top:19px;
    width:143px;
    height:409px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:415px;
}

.u15 {
    position:absolute;
    left:2px;
    top:196px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_selected {
    background-image: url('../新增推荐_files/u18_selected.png');
}

.u18_normal {
    background-image: url('../新增推荐_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u20_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u21 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u23_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u23_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u24 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u26_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u26_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u27 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u30_selected {
    background-image: url('../新增推荐_files/u18_selected.png');
}

.u30_normal {
    background-image: url('../新增推荐_files/u18_normal.png');
}

.u30_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u31 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u32_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u33 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u35_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u35_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u36 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u38_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u38_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u39 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u42_selected {
    background-image: url('../新增推荐_files/u18_selected.png');
}

.u42_normal {
    background-image: url('../新增推荐_files/u18_normal.png');
}

.u42_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u43 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u44_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u45 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u47_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u47_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u48 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u50_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u50_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u51 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u53_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u53_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u54 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u56_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u56_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u57 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u60_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u60_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u61 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u64_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u64_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u65 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

