body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:48px;
    top:8px;
    width:795px;
    height:462px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:795px;
    height:462px;
}

.u1 {
    position:absolute;
    left:2px;
    top:223px;
    width:791px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../管理默认界面（登录）_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:306px;
    top:128px;
    width:311px;
    height:223px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:317px;
    height:229px;
}

.u3 {
    position:absolute;
    left:2px;
    top:104px;
    width:307px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../管理默认界面（登录）_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:305px;
    top:129px;
    width:311px;
    height:36px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:317px;
    height:42px;
}

.u5 {
    position:absolute;
    left:2px;
    top:7px;
    width:307px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:342px;
    top:180px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:390px;
    top:175px;
    width:180px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:344px;
    top:216px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:392px;
    top:211px;
    width:180px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:482px;
    top:297px;
    width:78px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:342px;
    top:298px;
    width:78px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:497px;
    top:255px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

