body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:23px;
    top:19px;
    width:1105px;
    height:333px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1111px;
    height:339px;
}

.u1 {
    position:absolute;
    left:2px;
    top:158px;
    width:1101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:232px;
    top:19px;
    width:896px;
    height:33px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:902px;
    height:39px;
}

.u3 {
    position:absolute;
    left:2px;
    top:8px;
    width:892px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:155px;
    top:21px;
    width:226px;
    height:33px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:232px;
    height:39px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:156px;
    top:21px;
    width:122px;
    height:33px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:39px;
}

.u7 {
    position:absolute;
    left:2px;
    top:8px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:168px;
    top:30px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:301px;
    top:30px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u10 {
    position:absolute;
    left:156px;
    top:55px;
    width:611px;
    height:185px
}

.u11_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:56px;
    top:0px;
    width:107px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:163px;
    top:0px;
    width:100px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u17_container {
    position:absolute;
    left:263px;
    top:0px;
    width:100px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:363px;
    top:0px;
    width:76px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:439px;
    top:0px;
    width:167px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u11_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:20px;
    width:56px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u13_normal.png');
}

.u25_container {
    position:absolute;
    left:56px;
    top:20px;
    width:107px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u27_container {
    position:absolute;
    left:163px;
    top:20px;
    width:100px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u29_container {
    position:absolute;
    left:263px;
    top:20px;
    width:100px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u19_normal.png');
}

.u31_container {
    position:absolute;
    left:363px;
    top:20px;
    width:76px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u21_normal.png');
}

.u33_container {
    position:absolute;
    left:439px;
    top:20px;
    width:167px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u11_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:40px;
    width:56px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u13_normal.png');
}

.u37_container {
    position:absolute;
    left:56px;
    top:40px;
    width:107px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u39_container {
    position:absolute;
    left:163px;
    top:40px;
    width:100px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u41_container {
    position:absolute;
    left:263px;
    top:40px;
    width:100px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u19_normal.png');
}

.u43_container {
    position:absolute;
    left:363px;
    top:40px;
    width:76px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u21_normal.png');
}

.u45_container {
    position:absolute;
    left:439px;
    top:40px;
    width:167px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u11_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:60px;
    width:56px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u13_normal.png');
}

.u49_container {
    position:absolute;
    left:56px;
    top:60px;
    width:107px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u51_container {
    position:absolute;
    left:163px;
    top:60px;
    width:100px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u53_container {
    position:absolute;
    left:263px;
    top:60px;
    width:100px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u19_normal.png');
}

.u55_container {
    position:absolute;
    left:363px;
    top:60px;
    width:76px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u21_normal.png');
}

.u57_container {
    position:absolute;
    left:439px;
    top:60px;
    width:167px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u11_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:80px;
    width:56px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u13_normal.png');
}

.u61_container {
    position:absolute;
    left:56px;
    top:80px;
    width:107px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u63_container {
    position:absolute;
    left:163px;
    top:80px;
    width:100px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u65_container {
    position:absolute;
    left:263px;
    top:80px;
    width:100px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u19_normal.png');
}

.u67_container {
    position:absolute;
    left:363px;
    top:80px;
    width:76px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u21_normal.png');
}

.u69_container {
    position:absolute;
    left:439px;
    top:80px;
    width:167px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u11_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:100px;
    width:56px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u13_normal.png');
}

.u73_container {
    position:absolute;
    left:56px;
    top:100px;
    width:107px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u75_container {
    position:absolute;
    left:163px;
    top:100px;
    width:100px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u77_container {
    position:absolute;
    left:263px;
    top:100px;
    width:100px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u19_normal.png');
}

.u79_container {
    position:absolute;
    left:363px;
    top:100px;
    width:76px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u21_normal.png');
}

.u81_container {
    position:absolute;
    left:439px;
    top:100px;
    width:167px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u11_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:120px;
    width:56px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u13_normal.png');
}

.u85_container {
    position:absolute;
    left:56px;
    top:120px;
    width:107px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u87_container {
    position:absolute;
    left:163px;
    top:120px;
    width:100px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u89_container {
    position:absolute;
    left:263px;
    top:120px;
    width:100px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u19_normal.png');
}

.u91_container {
    position:absolute;
    left:363px;
    top:120px;
    width:76px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u21_normal.png');
}

.u93_container {
    position:absolute;
    left:439px;
    top:120px;
    width:167px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u11_normal.png');
}

.u95_container {
    position:absolute;
    left:0px;
    top:140px;
    width:56px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u13_normal.png');
}

.u97_container {
    position:absolute;
    left:56px;
    top:140px;
    width:107px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u99_container {
    position:absolute;
    left:163px;
    top:140px;
    width:100px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u101_container {
    position:absolute;
    left:263px;
    top:140px;
    width:100px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u19_normal.png');
}

.u103_container {
    position:absolute;
    left:363px;
    top:140px;
    width:76px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u21_normal.png');
}

.u105_container {
    position:absolute;
    left:439px;
    top:140px;
    width:167px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:26px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u11_normal.png');
}

.u107_container {
    position:absolute;
    left:0px;
    top:160px;
    width:56px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u13_normal.png');
}

.u109_container {
    position:absolute;
    left:56px;
    top:160px;
    width:107px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u111_container {
    position:absolute;
    left:163px;
    top:160px;
    width:100px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u113_container {
    position:absolute;
    left:263px;
    top:160px;
    width:100px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u19_normal.png');
}

.u115_container {
    position:absolute;
    left:363px;
    top:160px;
    width:76px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u21_normal.png');
}

.u117_container {
    position:absolute;
    left:439px;
    top:160px;
    width:167px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:26px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u119 {
    position:absolute;
    left:762px;
    top:55px;
    width:367px;
    height:185px
}

.u120_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u120_normal.png');
}

.u120_container {
    position:absolute;
    left:0px;
    top:0px;
    width:122px;
    height:20px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u121 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u122_container {
    position:absolute;
    left:122px;
    top:0px;
    width:100px;
    height:20px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u123 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u124_container {
    position:absolute;
    left:222px;
    top:0px;
    width:100px;
    height:20px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u125 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u126_normal.png');
}

.u126_container {
    position:absolute;
    left:322px;
    top:0px;
    width:40px;
    height:20px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u127 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u120_normal.png');
}

.u128_container {
    position:absolute;
    left:0px;
    top:20px;
    width:122px;
    height:20px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u129 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u130_container {
    position:absolute;
    left:122px;
    top:20px;
    width:100px;
    height:20px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u131 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u132_container {
    position:absolute;
    left:222px;
    top:20px;
    width:100px;
    height:20px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u133 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u126_normal.png');
}

.u134_container {
    position:absolute;
    left:322px;
    top:20px;
    width:40px;
    height:20px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u135 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u120_normal.png');
}

.u136_container {
    position:absolute;
    left:0px;
    top:40px;
    width:122px;
    height:20px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u137 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u138_container {
    position:absolute;
    left:122px;
    top:40px;
    width:100px;
    height:20px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u139 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u140_container {
    position:absolute;
    left:222px;
    top:40px;
    width:100px;
    height:20px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u141 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u126_normal.png');
}

.u142_container {
    position:absolute;
    left:322px;
    top:40px;
    width:40px;
    height:20px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u143 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u120_normal.png');
}

.u144_container {
    position:absolute;
    left:0px;
    top:60px;
    width:122px;
    height:20px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u145 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u146_container {
    position:absolute;
    left:122px;
    top:60px;
    width:100px;
    height:20px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u147 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u148_container {
    position:absolute;
    left:222px;
    top:60px;
    width:100px;
    height:20px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u149 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u126_normal.png');
}

.u150_container {
    position:absolute;
    left:322px;
    top:60px;
    width:40px;
    height:20px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u151 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u120_normal.png');
}

.u152_container {
    position:absolute;
    left:0px;
    top:80px;
    width:122px;
    height:20px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u153 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u154_container {
    position:absolute;
    left:122px;
    top:80px;
    width:100px;
    height:20px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u155 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u156_container {
    position:absolute;
    left:222px;
    top:80px;
    width:100px;
    height:20px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u157 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u126_normal.png');
}

.u158_container {
    position:absolute;
    left:322px;
    top:80px;
    width:40px;
    height:20px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u159 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u120_normal.png');
}

.u160_container {
    position:absolute;
    left:0px;
    top:100px;
    width:122px;
    height:20px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u161 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u162_container {
    position:absolute;
    left:122px;
    top:100px;
    width:100px;
    height:20px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u163 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u164_container {
    position:absolute;
    left:222px;
    top:100px;
    width:100px;
    height:20px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u165 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u126_normal.png');
}

.u166_container {
    position:absolute;
    left:322px;
    top:100px;
    width:40px;
    height:20px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u167 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u120_normal.png');
}

.u168_container {
    position:absolute;
    left:0px;
    top:120px;
    width:122px;
    height:20px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u169 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u170_container {
    position:absolute;
    left:122px;
    top:120px;
    width:100px;
    height:20px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u171 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u172_container {
    position:absolute;
    left:222px;
    top:120px;
    width:100px;
    height:20px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u173 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u126_normal.png');
}

.u174_container {
    position:absolute;
    left:322px;
    top:120px;
    width:40px;
    height:20px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u175 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u120_normal.png');
}

.u176_container {
    position:absolute;
    left:0px;
    top:140px;
    width:122px;
    height:20px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u177 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u178_container {
    position:absolute;
    left:122px;
    top:140px;
    width:100px;
    height:20px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u179 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u180_container {
    position:absolute;
    left:222px;
    top:140px;
    width:100px;
    height:20px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u181 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u126_normal.png');
}

.u182_container {
    position:absolute;
    left:322px;
    top:140px;
    width:40px;
    height:20px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u183 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u120_normal.png');
}

.u184_container {
    position:absolute;
    left:0px;
    top:160px;
    width:122px;
    height:20px;
}

#u184_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:26px;
}

.u185 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u186_container {
    position:absolute;
    left:122px;
    top:160px;
    width:100px;
    height:20px;
}

#u186_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u187 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u15_normal.png');
}

.u188_container {
    position:absolute;
    left:222px;
    top:160px;
    width:100px;
    height:20px;
}

#u188_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u189 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u126_normal.png');
}

.u190_container {
    position:absolute;
    left:322px;
    top:160px;
    width:40px;
    height:20px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u191 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:16px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:16px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:16px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:16px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:16px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u202_normal.png');
}

.u202_container {
    position:absolute;
    left:728px;
    top:245px;
    width:400px;
    height:22px;
}

#u202_img {
    position:absolute;
    left:0px;
    top:0px;
    width:400px;
    height:22px;
}

.u203 {
    position:absolute;
    left:2px;
    top:3px;
    width:396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:231px;
    top:242px;
    width:63px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u205 {
    position:absolute;
    left:304px;
    top:242px;
    width:63px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u206_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u206_normal.png');
}

.u206_container {
    position:absolute;
    left:712px;
    top:22px;
    width:416px;
    height:26px;
}

#u206_img {
    position:absolute;
    left:0px;
    top:0px;
    width:416px;
    height:26px;
}

.u207 {
    position:absolute;
    left:2px;
    top:5px;
    width:412px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:382px;
    top:242px;
    width:63px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u209 {
    position:absolute;
    left:158px;
    top:242px;
    width:63px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u210_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u210_normal.png');
}

.u210_container {
    position:absolute;
    left:7px;
    top:19px;
    width:143px;
    height:333px;
}

#u210_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:339px;
}

.u211 {
    position:absolute;
    left:2px;
    top:158px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214_selected {
    background-image: url('../聚餐预约（默认未受理）_files/u214_selected.png');
}

.u214_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u214_normal.png');
}

.u214_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u214_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u215 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u216_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u216_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u217 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u219_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u219_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u219_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u220 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u222_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u222_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u222_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u223 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u226_selected {
    background-image: url('../聚餐预约（默认未受理）_files/u214_selected.png');
}

.u226_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u214_normal.png');
}

.u226_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u226_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u227 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u228_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u228_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u229 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u231_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u231_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u231_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u232 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u234_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u234_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u234_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u235 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u238_selected {
    background-image: url('../聚餐预约（默认未受理）_files/u214_selected.png');
}

.u238_normal {
    background-image: url('../聚餐预约（默认未受理）_files/u214_normal.png');
}

.u238_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u238_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u239 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u240_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u240_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u241 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u243_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u243_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u243_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u244 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u246_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u246_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u246_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u247 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u249_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u249_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u249_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u250 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u252_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u252_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u252_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u253 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u256_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u256_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u256_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u257 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u260_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u260_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u260_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u261 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

