body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../菜式新增_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:23px;
    top:19px;
    width:602px;
    height:409px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:608px;
    height:415px;
}

.u1 {
    position:absolute;
    left:2px;
    top:196px;
    width:598px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../菜式新增_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:97px;
    top:19px;
    width:528px;
    height:33px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:534px;
    height:39px;
}

.u3 {
    position:absolute;
    left:2px;
    top:8px;
    width:524px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:160px;
    top:30px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:192px;
    top:71px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:191px;
    top:104px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:167px;
    top:173px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:243px;
    top:167px;
    width:186px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:439px;
    top:167px;
    width:64px;
    height:22px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:242px;
    top:198px;
    width:241px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:167px;
    top:224px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:244px;
    top:225px;
    width:265px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:519px;
    top:289px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:259px;
    top:357px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:394px;
    top:357px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:242px;
    top:68px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:432px;
    top:71px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:242px;
    top:100px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:16px;
    top:0px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:192px;
    top:137px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../菜式新增_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:240px;
    top:130px;
    width:187px;
    height:31px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:187px;
    height:31px;
}

.u23 {
    position:absolute;
    left:2px;
    top:8px;
    width:183px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../菜式新增_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:7px;
    top:19px;
    width:143px;
    height:409px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:415px;
}

.u25 {
    position:absolute;
    left:2px;
    top:196px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_selected {
    background-image: url('../菜式新增_files/u28_selected.png');
}

.u28_normal {
    background-image: url('../菜式新增_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u29 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u30_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u31 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u33_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u33_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u34 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u36_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u36_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u37 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u40_selected {
    background-image: url('../菜式新增_files/u28_selected.png');
}

.u40_normal {
    background-image: url('../菜式新增_files/u28_normal.png');
}

.u40_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u41 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u42_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u43 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u45_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u45_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u46 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u48_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u48_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u49 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u52_selected {
    background-image: url('../菜式新增_files/u28_selected.png');
}

.u52_normal {
    background-image: url('../菜式新增_files/u28_normal.png');
}

.u52_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u53 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u54_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u55 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u57_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u57_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u58 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u60_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u60_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u61 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u63_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u63_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u64 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u66_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u66_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u67 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u70_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u70_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u71 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u74_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u74_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u75 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

