* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="菜系新增_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="菜系新增_files/u2_normal.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="菜系新增_files/u19_normal.png");
}

* html .u23_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="菜系新增_files/u23_selected.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="菜系新增_files/u23_normal.png");
}

* html .u35_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="菜系新增_files/u23_selected.png");
}

* html .u35_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="菜系新增_files/u23_normal.png");
}

* html .u47_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="菜系新增_files/u23_selected.png");
}

* html .u47_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="菜系新增_files/u23_normal.png");
}

