body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../菜系新增_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:23px;
    top:19px;
    width:602px;
    height:409px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:608px;
    height:415px;
}

.u1 {
    position:absolute;
    left:2px;
    top:196px;
    width:598px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../菜系新增_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:97px;
    top:19px;
    width:528px;
    height:33px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:534px;
    height:39px;
}

.u3 {
    position:absolute;
    left:2px;
    top:8px;
    width:524px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:160px;
    top:30px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:173px;
    top:93px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:198px;
    top:126px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:174px;
    top:169px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:250px;
    top:163px;
    width:186px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:446px;
    top:163px;
    width:64px;
    height:22px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:249px;
    top:194px;
    width:241px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:174px;
    top:220px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:251px;
    top:221px;
    width:265px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:526px;
    top:285px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:259px;
    top:357px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:394px;
    top:357px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:249px;
    top:122px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:250px;
    top:87px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:656px;
    top:206px;
    width:150px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../菜系新增_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:7px;
    top:19px;
    width:143px;
    height:409px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:415px;
}

.u20 {
    position:absolute;
    left:2px;
    top:196px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_selected {
    background-image: url('../菜系新增_files/u23_selected.png');
}

.u23_normal {
    background-image: url('../菜系新增_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u24 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u25_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u26 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u28_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u28_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u29 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u31_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u31_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u32 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u35_selected {
    background-image: url('../菜系新增_files/u23_selected.png');
}

.u35_normal {
    background-image: url('../菜系新增_files/u23_normal.png');
}

.u35_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u36 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u37_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u38 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u40_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u40_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u41 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u43_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u43_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u44 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u47_selected {
    background-image: url('../菜系新增_files/u23_selected.png');
}

.u47_normal {
    background-image: url('../菜系新增_files/u23_normal.png');
}

.u47_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u48 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u49_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u50 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u52_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u52_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u53 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u55_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u55_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u56 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u58_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u58_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u59 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u61_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u61_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u62 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u65_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u65_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u66 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u69_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u69_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u70 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

