body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../修改_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:23px;
    top:20px;
    width:683px;
    height:457px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:689px;
    height:463px;
}

.u1 {
    position:absolute;
    left:2px;
    top:220px;
    width:679px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../修改_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:119px;
    top:19px;
    width:587px;
    height:33px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:593px;
    height:39px;
}

.u3 {
    position:absolute;
    left:2px;
    top:8px;
    width:583px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:160px;
    top:28px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:213px;
    top:62px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:188px;
    top:88px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:188px;
    top:112px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:188px;
    top:138px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:214px;
    top:162px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:175px;
    top:184px;
    width:276px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:184px;
    top:212px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:213px;
    top:242px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:261px;
    top:242px;
    width:310px;
    height:67px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:369px;
    top:137px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:287px;
    top:162px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:417px;
    top:184px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:290px;
    top:212px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:261px;
    top:109px;
    width:116px;
    height:26px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:261px;
    top:206px;
    width:116px;
    height:26px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:729px;
    top:184px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:719px;
    top:178px;
    width:150px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../修改_1_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:7px;
    top:19px;
    width:143px;
    height:458px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:464px;
}

.u23 {
    position:absolute;
    left:2px;
    top:221px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_selected {
    background-image: url('../修改_1_files/u26_selected.png');
}

.u26_normal {
    background-image: url('../修改_1_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u27 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u28_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u29 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u31_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u31_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u32 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u34_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u34_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u35 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u38_selected {
    background-image: url('../修改_1_files/u26_selected.png');
}

.u38_normal {
    background-image: url('../修改_1_files/u26_normal.png');
}

.u38_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u39 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u40_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u41 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u43_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u43_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u44 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u46_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u46_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u47 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u50_selected {
    background-image: url('../修改_1_files/u26_selected.png');
}

.u50_normal {
    background-image: url('../修改_1_files/u26_normal.png');
}

.u50_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u52_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u53 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u55_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u55_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u56 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u58_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u58_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u59 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u61_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u61_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u62 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u64_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u64_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u65 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u68_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u68_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u69 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u72_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u72_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u73 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u74 {
    position:absolute;
    left:433px;
    top:355px;
    width:63px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u75 {
    position:absolute;
    left:506px;
    top:355px;
    width:63px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76 {
    position:absolute;
    left:340px;
    top:355px;
    width:81px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:264px;
    top:354px;
    width:63px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

