* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u2_normal.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u17_normal.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u19_normal.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u21_normal.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u23_normal.png");
}

* html .u25_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u25_normal.png");
}

* html .u27_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u17_normal.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u19_normal.png");
}

* html .u31_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u21_normal.png");
}

* html .u33_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u23_normal.png");
}

* html .u35_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u25_normal.png");
}

* html .u37_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u17_normal.png");
}

* html .u39_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u19_normal.png");
}

* html .u41_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u21_normal.png");
}

* html .u43_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u23_normal.png");
}

* html .u45_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u25_normal.png");
}

* html .u47_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u17_normal.png");
}

* html .u49_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u19_normal.png");
}

* html .u51_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u21_normal.png");
}

* html .u53_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u23_normal.png");
}

* html .u55_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u25_normal.png");
}

* html .u61_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u61_normal.png");
}

* html .u68_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u68_normal.png");
}

* html .u72_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u72_selected.png");
}

* html .u72_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u72_normal.png");
}

* html .u84_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u72_selected.png");
}

* html .u84_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u72_normal.png");
}

* html .u96_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u72_selected.png");
}

* html .u96_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_files/u72_normal.png");
}

