body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../宴会场地管理_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:23px;
    top:19px;
    width:602px;
    height:409px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:608px;
    height:415px;
}

.u1 {
    position:absolute;
    left:2px;
    top:196px;
    width:598px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../宴会场地管理_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:97px;
    top:19px;
    width:528px;
    height:33px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:534px;
    height:39px;
}

.u3 {
    position:absolute;
    left:2px;
    top:8px;
    width:524px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../宴会场地管理_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:7px;
    top:19px;
    width:143px;
    height:409px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:415px;
}

.u5 {
    position:absolute;
    left:2px;
    top:196px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_selected {
    background-image: url('../宴会场地管理_files/u8_selected.png');
}

.u8_normal {
    background-image: url('../宴会场地管理_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u9 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u10_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u11 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u13_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u14 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u17 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u20_selected {
    background-image: url('../宴会场地管理_files/u8_selected.png');
}

.u20_normal {
    background-image: url('../宴会场地管理_files/u8_normal.png');
}

.u20_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u21 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u22_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u23 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u25_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u25_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u26 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u28_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u28_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u29 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u30 {
    position:absolute;
    left:160px;
    top:30px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:192px;
    top:71px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:351px;
    top:355px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33 {
    position:absolute;
    left:460px;
    top:355px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:242px;
    top:65px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:193px;
    top:105px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:243px;
    top:99px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:432px;
    top:67px;
    width:50px;
    height:23px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38 {
    position:absolute;
    left:434px;
    top:97px;
    width:50px;
    height:23px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:193px;
    top:140px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:243px;
    top:134px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:434px;
    top:132px;
    width:50px;
    height:23px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:233px;
    top:355px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45_selected {
    background-image: url('../宴会场地管理_files/u8_selected.png');
}

.u45_normal {
    background-image: url('../宴会场地管理_files/u8_normal.png');
}

.u45_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u46 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u47_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u48 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u50_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u50_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u51 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u53_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u53_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u54 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u56_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u56_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u57 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u59_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u59_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u60 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u63_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u63_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u64 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u67_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u67_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u68 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

