* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_1_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_1_files/u2_normal.png");
}

* html .u15_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_1_files/u15_normal.png");
}

* html .u19_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_1_files/u19_selected.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_1_files/u19_normal.png");
}

* html .u31_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_1_files/u19_selected.png");
}

* html .u31_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_1_files/u19_normal.png");
}

* html .u43_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_1_files/u19_selected.png");
}

* html .u43_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新增界面_1_files/u19_normal.png");
}

