body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../菜系管理_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:23px;
    top:19px;
    width:953px;
    height:333px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:959px;
    height:339px;
}

.u1 {
    position:absolute;
    left:2px;
    top:158px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:156px;
    top:27px;
    width:817px;
    height:185px
}

.u3_normal {
    background-image: url('../菜系管理_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../菜系管理_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:56px;
    top:0px;
    width:66px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:122px;
    top:0px;
    width:107px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u9_container {
    position:absolute;
    left:229px;
    top:0px;
    width:107px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../菜系管理_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:335px;
    top:0px;
    width:110px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../菜系管理_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:445px;
    top:0px;
    width:141px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../菜系管理_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:586px;
    top:0px;
    width:137px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../菜系管理_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:723px;
    top:0px;
    width:89px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../菜系管理_files/u3_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:20px;
    width:56px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../菜系管理_files/u5_normal.png');
}

.u21_container {
    position:absolute;
    left:56px;
    top:20px;
    width:66px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u23_container {
    position:absolute;
    left:122px;
    top:20px;
    width:107px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u25_container {
    position:absolute;
    left:229px;
    top:20px;
    width:107px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../菜系管理_files/u11_normal.png');
}

.u27_container {
    position:absolute;
    left:335px;
    top:20px;
    width:110px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../菜系管理_files/u13_normal.png');
}

.u29_container {
    position:absolute;
    left:445px;
    top:20px;
    width:141px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../菜系管理_files/u15_normal.png');
}

.u31_container {
    position:absolute;
    left:586px;
    top:20px;
    width:137px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../菜系管理_files/u17_normal.png');
}

.u33_container {
    position:absolute;
    left:723px;
    top:20px;
    width:89px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../菜系管理_files/u3_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:40px;
    width:56px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../菜系管理_files/u5_normal.png');
}

.u37_container {
    position:absolute;
    left:56px;
    top:40px;
    width:66px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u39_container {
    position:absolute;
    left:122px;
    top:40px;
    width:107px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u41_container {
    position:absolute;
    left:229px;
    top:40px;
    width:107px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../菜系管理_files/u11_normal.png');
}

.u43_container {
    position:absolute;
    left:335px;
    top:40px;
    width:110px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../菜系管理_files/u13_normal.png');
}

.u45_container {
    position:absolute;
    left:445px;
    top:40px;
    width:141px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../菜系管理_files/u15_normal.png');
}

.u47_container {
    position:absolute;
    left:586px;
    top:40px;
    width:137px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../菜系管理_files/u17_normal.png');
}

.u49_container {
    position:absolute;
    left:723px;
    top:40px;
    width:89px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../菜系管理_files/u3_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:60px;
    width:56px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../菜系管理_files/u5_normal.png');
}

.u53_container {
    position:absolute;
    left:56px;
    top:60px;
    width:66px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u55_container {
    position:absolute;
    left:122px;
    top:60px;
    width:107px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u57_container {
    position:absolute;
    left:229px;
    top:60px;
    width:107px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../菜系管理_files/u11_normal.png');
}

.u59_container {
    position:absolute;
    left:335px;
    top:60px;
    width:110px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../菜系管理_files/u13_normal.png');
}

.u61_container {
    position:absolute;
    left:445px;
    top:60px;
    width:141px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../菜系管理_files/u15_normal.png');
}

.u63_container {
    position:absolute;
    left:586px;
    top:60px;
    width:137px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../菜系管理_files/u17_normal.png');
}

.u65_container {
    position:absolute;
    left:723px;
    top:60px;
    width:89px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../菜系管理_files/u3_normal.png');
}

.u67_container {
    position:absolute;
    left:0px;
    top:80px;
    width:56px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../菜系管理_files/u5_normal.png');
}

.u69_container {
    position:absolute;
    left:56px;
    top:80px;
    width:66px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u71_container {
    position:absolute;
    left:122px;
    top:80px;
    width:107px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u73_container {
    position:absolute;
    left:229px;
    top:80px;
    width:107px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../菜系管理_files/u11_normal.png');
}

.u75_container {
    position:absolute;
    left:335px;
    top:80px;
    width:110px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../菜系管理_files/u13_normal.png');
}

.u77_container {
    position:absolute;
    left:445px;
    top:80px;
    width:141px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../菜系管理_files/u15_normal.png');
}

.u79_container {
    position:absolute;
    left:586px;
    top:80px;
    width:137px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../菜系管理_files/u17_normal.png');
}

.u81_container {
    position:absolute;
    left:723px;
    top:80px;
    width:89px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../菜系管理_files/u3_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:100px;
    width:56px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../菜系管理_files/u5_normal.png');
}

.u85_container {
    position:absolute;
    left:56px;
    top:100px;
    width:66px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u87_container {
    position:absolute;
    left:122px;
    top:100px;
    width:107px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u89_container {
    position:absolute;
    left:229px;
    top:100px;
    width:107px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../菜系管理_files/u11_normal.png');
}

.u91_container {
    position:absolute;
    left:335px;
    top:100px;
    width:110px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../菜系管理_files/u13_normal.png');
}

.u93_container {
    position:absolute;
    left:445px;
    top:100px;
    width:141px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../菜系管理_files/u15_normal.png');
}

.u95_container {
    position:absolute;
    left:586px;
    top:100px;
    width:137px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../菜系管理_files/u17_normal.png');
}

.u97_container {
    position:absolute;
    left:723px;
    top:100px;
    width:89px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:26px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../菜系管理_files/u3_normal.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:120px;
    width:56px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../菜系管理_files/u5_normal.png');
}

.u101_container {
    position:absolute;
    left:56px;
    top:120px;
    width:66px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u103_container {
    position:absolute;
    left:122px;
    top:120px;
    width:107px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u105_container {
    position:absolute;
    left:229px;
    top:120px;
    width:107px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../菜系管理_files/u11_normal.png');
}

.u107_container {
    position:absolute;
    left:335px;
    top:120px;
    width:110px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../菜系管理_files/u13_normal.png');
}

.u109_container {
    position:absolute;
    left:445px;
    top:120px;
    width:141px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../菜系管理_files/u15_normal.png');
}

.u111_container {
    position:absolute;
    left:586px;
    top:120px;
    width:137px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:26px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../菜系管理_files/u17_normal.png');
}

.u113_container {
    position:absolute;
    left:723px;
    top:120px;
    width:89px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:26px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../菜系管理_files/u3_normal.png');
}

.u115_container {
    position:absolute;
    left:0px;
    top:140px;
    width:56px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../菜系管理_files/u5_normal.png');
}

.u117_container {
    position:absolute;
    left:56px;
    top:140px;
    width:66px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u119_container {
    position:absolute;
    left:122px;
    top:140px;
    width:107px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u121_container {
    position:absolute;
    left:229px;
    top:140px;
    width:107px;
    height:20px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../菜系管理_files/u11_normal.png');
}

.u123_container {
    position:absolute;
    left:335px;
    top:140px;
    width:110px;
    height:20px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../菜系管理_files/u13_normal.png');
}

.u125_container {
    position:absolute;
    left:445px;
    top:140px;
    width:141px;
    height:20px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../菜系管理_files/u15_normal.png');
}

.u127_container {
    position:absolute;
    left:586px;
    top:140px;
    width:137px;
    height:20px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:26px;
}

.u128 {
    position:absolute;
    left:2px;
    top:2px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../菜系管理_files/u17_normal.png');
}

.u129_container {
    position:absolute;
    left:723px;
    top:140px;
    width:89px;
    height:20px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:26px;
}

.u130 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../菜系管理_files/u3_normal.png');
}

.u131_container {
    position:absolute;
    left:0px;
    top:160px;
    width:56px;
    height:20px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u132 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../菜系管理_files/u5_normal.png');
}

.u133_container {
    position:absolute;
    left:56px;
    top:160px;
    width:66px;
    height:20px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u135_container {
    position:absolute;
    left:122px;
    top:160px;
    width:107px;
    height:20px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../菜系管理_files/u7_normal.png');
}

.u137_container {
    position:absolute;
    left:229px;
    top:160px;
    width:107px;
    height:20px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../菜系管理_files/u11_normal.png');
}

.u139_container {
    position:absolute;
    left:335px;
    top:160px;
    width:110px;
    height:20px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u140 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../菜系管理_files/u13_normal.png');
}

.u141_container {
    position:absolute;
    left:445px;
    top:160px;
    width:141px;
    height:20px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u142 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../菜系管理_files/u15_normal.png');
}

.u143_container {
    position:absolute;
    left:586px;
    top:160px;
    width:137px;
    height:20px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:26px;
}

.u144 {
    position:absolute;
    left:2px;
    top:2px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../菜系管理_files/u17_normal.png');
}

.u145_container {
    position:absolute;
    left:723px;
    top:160px;
    width:89px;
    height:20px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:26px;
}

.u146 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:16px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:16px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:16px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:16px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:16px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../菜系管理_files/u157_normal.png');
}

.u157_container {
    position:absolute;
    left:556px;
    top:229px;
    width:400px;
    height:22px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:400px;
    height:22px;
}

.u158 {
    position:absolute;
    left:2px;
    top:3px;
    width:396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:159px;
    top:227px;
    width:63px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u160 {
    position:absolute;
    left:245px;
    top:227px;
    width:63px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u161_normal {
    background-image: url('../菜系管理_files/u161_normal.png');
}

.u161_container {
    position:absolute;
    left:7px;
    top:19px;
    width:143px;
    height:333px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:339px;
}

.u162 {
    position:absolute;
    left:2px;
    top:158px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_selected {
    background-image: url('../菜系管理_files/u165_selected.png');
}

.u165_normal {
    background-image: url('../菜系管理_files/u165_normal.png');
}

.u165_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u165_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u166 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u167_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u168 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u170_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u170_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u171 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u173_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u173_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u174 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u177_selected {
    background-image: url('../菜系管理_files/u165_selected.png');
}

.u177_normal {
    background-image: url('../菜系管理_files/u165_normal.png');
}

.u177_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u177_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u178 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u179_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u180 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u182_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u182_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u183 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u185_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u185_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u186 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u189_selected {
    background-image: url('../菜系管理_files/u165_selected.png');
}

.u189_normal {
    background-image: url('../菜系管理_files/u165_normal.png');
}

.u189_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u189_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u190 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u191_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u191_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u192 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u194_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u194_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u195 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u197_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u197_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u197_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u198 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u200_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u200_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u200_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u201 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u203_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u203_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u203_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u204 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u207_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u207_container {
    position:absolute;
    left:22px;
    top:0px;
    width:91px;
    height:20px;
}

#u207_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u208 {
    position:absolute;
    left:3px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u211_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u211_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u211_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u212 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

